header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #ffffff;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    border-top: 1px solid black;
    box-sizing: border-box; 
    z-index: 1000; /* Asegúrate de que el header esté por encima de otros elementos */
}

.product-cards {
    display: flex;
    overflow-x: auto; /* Permitir el desplazamiento horizontal */
    scroll-snap-type: x mandatory; /* Ajuste para que el scroll sea más fluido */
    justify-content: center;
}

.card {
    width: 30%; /* Ancho de la tarjeta */
    max-width: none; /* Asegúrate de que no haya un límite que impida el ancho */
    overflow: hidden;
    border: 0.5px dashed rgb(155, 155, 155);
    position: static;
    margin-bottom: 40px;
    background-color: white;
}

.product-cards::-webkit-scrollbar {
    height: 8px;
}

.product-cards::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.card_image {
    position: relative;
    height: 400px; /* Altura específica para la imagen */
    overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
    margin-bottom: 10px;
}

.slider {
    position: relative;
}

.slider img {
    width: 100%; /* Asegúrate de que la imagen ocupe todo el ancho */
    height: 20%; /* Asegúrate de que la imagen ocupe toda la altura */ /* Mantiene la proporción y recorta si es necesario */
    margin-top: -70px;
}

.prev, .next {
    position: absolute; /* Necesario para posicionar los botones sobre la imagen */
    top: 50%;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    opacity: 0; /* Los botones son invisibles por defecto */
    transition: opacity 0.3s; /* Transición suave para aparecer y desaparecer */
}

.card:hover .prev, .card:hover .next {
    opacity: 1; /* Los botones aparecen al hacer hover sobre la tarjeta */
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.card_text {
    padding: 12px;
    text-align: left;
}

.card_text h2 {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px; /* Aumentar el tamaño de fuente para el título */
    color: #000000;
}

.card_text p {
    font-family: sans-serif;
    font-size: 13px; /* Aumentar el tamaño de fuente para la descripción */
    color: #666;
    text-align: left;
}

@media (max-width: 768px) {
    .card {
        flex: 0 0 50%; /* Dos tarjetas en pantalla en dispositivos móviles */
        max-width: 50%;
    }
}

@media (max-width: 480px) {
    .card {
        flex: 0 0 100%; /* Una tarjeta en pantalla en dispositivos muy pequeños */
        max-width: 100%;
    }
}
