.product-page {
    padding: 20px; /* Limita el ancho máximo de la página */
    margin: 0 auto; /* Centra el contenido en la página */
}

.product-page h4 {
    text-align: left;
    font-size: 22px;
    margin-bottom: 20px; /* Espacio debajo del título */
}

.product-list {
    display: flex;  
    flex-wrap: wrap; /* Permitir que los productos se ajusten a varias filas */
    justify-content: space-around; /* Espaciado entre los productos */
    gap: 5px;
}

